@font-face { font-family: TT-HOVES-REGULAR; src: url('./assets/TTHoves-Regular.woff2'); } 
:root {
    --headerSize: 60px;
    --fontFamily: TT-HOVES-REGULAR, 'Roboto Mono', monospace;
    --color-primary: rgba(36, 36, 36, 0.97);
    --color-secondary: wheat;
    --color-alternate: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontFamily);
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.header-bar {
    z-index: 1000;
    background-color: rgb(33, 33, 33);
    color: white;
    height: var(--headerSize);
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-bar {
    text-align: center;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    height: 100%;
}

.nav-item {
    margin: 0 15px;
    padding: 10px 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
}

.nav-item a:hover {
    text-decoration: underline;
}

.nav-item.active{
    background-color: var(--color-secondary);
}
.nav-item.active a{
    color: black;
    text-transform: uppercase;
}

.content {  
    flex: 1;
}

.content-section {
    width: 100%;
    height: 100dvh;
    scroll-margin-top: var(--headerSize);
    color: var(--color-secondary);
    background-color: rgba(36, 36, 36, 0.97);
}

/* .content-section.active {
    opacity: 1;
    top: 0%;
} */

#home {
    display: grid;
    grid-template-columns: 40% auto;
}

#contact{
    display: flex;
    height: calc(70dvh - var(--headerSize));
    align-items: center;
    justify-content: center;
}

#photo, #basic-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

#basic-info{
    justify-content: start;
}

#self-image{
    width: 80%;
    height: auto;
    border-radius: 50%;
}

#basic-info{
    display: flex;
    flex-direction: column;
    color: var(--color-secondary);
    align-items: flex-start;
    justify-content: center;
    padding-right: 20%;
}

#basic-info > h3 {
    letter-spacing: 4px;
    word-spacing: 10px;
    color: white;
    padding-left: 1%;
}

#basic-info > h1 {
    font-size: 4rem;
    padding-left: 1%;
    letter-spacing: 2px;
}

#basic-info > hr {
    opacity: 0.9;
    border: 2px solid white;
    width: 100%;
    margin-top: -5px;
}

#basic-info > p {
    color: white;
    font-size: 1.5rem;
}

#projects{
    padding: 2% 5%;
}

#projects > h1{
    text-align: center;
    color: white;
}

.projects{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 2%;
    row-gap: 5%;
    align-items: stretch;
    padding-top: 1%;
    height: 90%;
}

.project{
    border: 1px solid var(--color-secondary);
    row-gap: 10%;
    padding: 1%;
}

.project > ul {
    color: white;
    margin: 2%;
    font-size: 1.3rem;
}

.project a {
    color: white;
}

.project a:visited {
    color: white;
    text-decoration: none !important;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about button {
    font-family: inherit;
    border: none;
    cursor: pointer;
}

.carousel-1, .carousel-2, .carousel-3 {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
}
.carousel-1 h2, .carousel-2 h2, .carousel-3 h2{
    padding: 0;
    margin: 0;
} 
.carousel-1::after, .carousel-2::after, .carousel-3::after {
    position: absolute;
    left: 50px;
    top: 60px;
    display: block;
    width: calc(100% - 100px);
    height: 6px;
    content: '';
    background-color: var(--color-secondary);
}


.carousel-1::before, .carousel-2::before, .carousel-3::before {
    position: absolute;
    left: 0;
    top: 60px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    content: '';
    border: 3px dashed var(--color-secondary);
}

.item-header {
    display: flex;
    column-gap: 10px;
    text-transform: uppercase;
}

.item-icon {
    height: 40px;
    filter: invert(91%) sepia(15%) saturate(705%) hue-rotate(339deg) brightness(100%) contrast(93%);
}

.arrow-left {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: rotate(90deg);
    cursor: pointer;
    background: transparent;
}
.arrow-right {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: rotate(-90deg);
    background: transparent;
    cursor: pointer;
}

.arrow-left span,.arrow-right span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow-left span:nth-child(2), .arrow-right span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow-left span.paused, .arrow-right span.paused {
    opacity: 0;
    animation: animate 0s none;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.carousel-1 .items, .carousel-2 .items, .carousel-3 .items {
    width: 100%;
    overflow: hidden;
}

.carousel-1 .cards, .carousel-2 .cards, .carousel-3 .cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition: transform 300ms ease-in-out;
}

.cards {
    margin-top: 12px;
    column-gap: 20px;
}

.node-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    justify-content: flex-start;
}

.data {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    height: 200px;
    width: 25vw;
    color: var(--color-secondary);
    white-space: pre;
}

.data h3{
    font-weight: 600;
}

.data h4{
    font-weight: 600;
}

.data p{
    font-size: large;
    white-space: pre;
}

.data h4, .data p{
    color: var(--color-alternate);
}


.circle {
    width: 20px;
    height: 20px;
    background-color: var(--color-secondary);
    border-radius: 50%;
}


#contact-form{
    height: min(40vw, 80%);
    width: max(60%, 70vh);
    display: grid;
    grid-template-columns: 30% 70%;
    box-shadow: 5px 5px 10px 2px rgba(245, 222, 197, 0.15);
}

#left-contact-section{
    background-color: var(--color-secondary);
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.left-contact-item{
    display: grid;
    grid-template-columns: 10% auto;
    column-gap: 2%;
    align-items: center;
}

.left-contact-icon{
    width: 100%;
}

.left-contact-item a:visited, .left-contact-item a{
    color: black;
    text-decoration: none !important;
}
.left-contact-item a:hover{
    text-decoration: underline !important;
}

#right-contact-section{
    background-color: rgba(20, 20, 20, 0.7);
    padding: 20px;
}

#mail-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 8%;
    row-gap: 40px;
}

#name-email{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20%;
    color: white;
}

.input-field{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    color:white;
}

input{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    width: 100%;
    color: var(--color-secondary);
    outline: none;
}

input:focus{
    border-bottom: 2px solid var(--color-secondary);
    outline: none;
}

.input-field:has(> input:focus){
    color: var(--color-secondary);
}

textarea{
    width: 100%;
    min-height: 160px;
    scrollbar-width: 5px;
    background-color: transparent;
    color:white;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding: 10px;
}

.input-field:has(>textarea){
    min-height: 160px;
}

textarea:focus{
    color:var(--color-secondary);
    outline: none;
    border-color: var(--color-secondary);
}

.input-field:has(>textarea:focus){
    color:var(--color-secondary);
}

button{
    align-self: center;
    padding: 2px 20px;
    background-color: var(--color-secondary);
    color: black;
    width: max-content;
}